@model StockPortfolioTracker.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<h1 class="h3 mb-2 text-gray-800">Edit Transaction</h1>
<p class="mb-4">
    To complete this form to update a transaction, please provide all the transaction informations;
    Currently the prices are static in the database.
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Edit</h6>
    </div>
    <div class="card-body">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransactionID" />
            <div class="form-group">
                <label asp-for="PortfolioID" class="control-label"></label>
                <select asp-for="PortfolioID" class="form-control" asp-items="ViewBag.PortfolioID"></select>
                <span asp-validation-for="PortfolioID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockID" class="control-label"></label>
                <select asp-for="StockID" class="form-control" asp-items="ViewBag.StockID"></select>
                <span asp-validation-for="StockID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceAtTransaction" class="control-label"></label>
                <input asp-for="PriceAtTransaction" class="form-control" />
                <span asp-validation-for="PriceAtTransaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionStatusID" class="control-label"></label>
                <select asp-for="TransactionStatusID" class="form-control" asp-items="ViewBag.TransactionStatusID"></select>
                <span asp-validation-for="TransactionStatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label"></label>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Transaction Type</label><br />
                <div class="form-check form-check-inline">
                    <input type="radio" asp-for="isBuy" value="true" class="form-check-input" id="buyOption" />
                    <label class="form-check-label" for="buyOption">Buy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" asp-for="isBuy" value="false" class="form-check-input" id="sellOption" />
                    <label class="form-check-label" for="sellOption">Sell</label>
                </div>
                <span asp-validation-for="isBuy" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
            <a asp-controller="Transactions" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to List
            </a>
        </form>
    </div>
</div>

